<div class='container'>
<!--  <div class='row'>
    <div class='col-md-12'>
      <h1>Bootstrap Searchbar</h1>
      <p class='lead'>A very simple searchbar using Bootstrap, SASS and Bourbon.</p>
    </div>
  </div>-->
  <div class='row'>
    <div class='col-md-9'>
      <div class='search-box'>
        <!--<form class='search-form'>-->
          <input #search_content class='form-control' (keyup.enter)="searchArticle(search_content.value)"placeholder='请输入查询内容' type='text'>
          <button class='btn btn-link search-btn' (click)="searchArticle(search_content.value)">
            <i class='glyphicon glyphicon-search'></i>
          </button>
        <!--</form>-->
      </div>
    </div>
  </div>
</div>
